* {
  margin: 0;
  box-sizing: border-box;
}
.my-handle {
	cursor: move;
	cursor: -webkit-grabbing;
  transform: rotate(5deg);
}

.grabbing {
  cursor: grabbing;
}

.rotating {
  transform: rotate(5deg);
}

.dragged {
  position: absolute;
  z-index: 999;
  pointer-events: none;
}

button {
  cursor: pointer;
}

h3 {
  font-weight: 400;
}

body {
  background: rgb(214, 192, 94);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
  margin-top: 100px;
  min-width: 850px;
}


.list {
  padding-left: 4px;
  background-color: rgb(200, 209, 216);
  border-radius: 3px;
  display: inline-block;
  width: 272px;
  min-width: 272px;
  margin: 0 4px 0 4px;

  vertical-align: top;
}

.header {
  padding: 10px 8px 10px 8px;
  text-align: center;
}

.header-title {
  padding: 4px 8px 4px 8px;
  margin: -4px 0 -4px 0;

  font-weight: 600;
  font-size: 20px;
}

.list-body {
  padding: 8px 0 0 0;
  margin: 0 4px 0 4px;
  overflow-y: auto;
}

.hide {
  display: none;
}

.card-opened {
  padding: 6px 8px 2px 8px;
}

.card-create-textarea {
  width: 100%;
  height: 54px;
  padding: 0;
  margin-bottom: 4px;

  background: none;
  box-shadow: none;
  border: none;
  outline: none;

  resize: none;

  overflow-wrap: break-word;
}

.card-composer-textarea.hover:hover {
  cursor: text;
}

.tools {
  display: flex;
  margin-bottom: 8px;
}

.card-create-container {
  height: 45px;
}

.add-card {
  padding: 6px 12px 6px 12px;
  margin-right: 20px;
  margin-top: 7px;
  color: rgb(2, 2, 2);
  background-color: #93beda;
  border: none;
  border-radius: 5px;
}

.add-new-card {
  padding: 6px 0px 6px 12px;
  margin-right: 20px;
  width: 170px;
  color: rgb(2, 2, 2);
  background-color: #93beda;
  border: none;
  border-radius: 5px;
}

.add-new-card:hover {
  background-color: #026aa7;
  cursor: pointer;
}

.add-card.hover:hover {
  background-color: #026aa7;
  cursor: pointer;
}

.close-card {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 18px;

  color: #6b778c;
  border: 0;

  cursor: inherit;
}

.close-card.hover:hover {
  color: #000000;

  cursor: pointer;
}

.close-card::before {
  content: '\2715';
}

.open-card-create {
  display: flex;
  padding: 4px 8px 4px 11px;
  margin: 2px 8px 8px 8px;

  font: inherit;

  color: #5e6c84;
  border: 0;
  border-radius: 3px;
}

.open-card-create.hover:hover {
  color: #172b4d;
  background-color: #091e4214;

  cursor: pointer;
}

.plus-card {
  font-size: 23px;
  color: #6b778c;
  padding-top: 9px;
  padding-right: 15px;
}

.plus-card::before {
  content: '\002B';
}

.add-card {
  margin-left: 15px;
}

input,
textarea {
  font: inherit;

  color: inherit;
}

a {
  color: #172b4d;
  text-decoration: none;

  cursor: inherit;
}

.list-card {
  position: relative;

  display: block;
  width: 256px;
  margin-bottom: 5px;

  background-color: #ffffff;
  box-shadow: 0 1px 0 #091e4240;
  border-radius: 3px;

  cursor: pointer;
}

.list-card:last-child {
  margin-bottom: 0;
}

.list-cards>.list-card.hover:hover {
  background-color: #f4f5f7;

  cursor: pointer;
}

.list-card-details {
  padding: 6px 8px 2px 8px;
}

.list-card-title {
  display: block;
  margin: 0 0 4px 0;

  color: #172b4d;

  word-wrap: break-word;
}

.list-card-remover {
  position: absolute;
  top: 4px;
  right: 4px;

  display: none;
  padding: 4px 4px 4px 4px;

  font-weight: 800;
  font-size: 16px;
  line-height: 1;

  color: #42526e;
  background-color: #ebecf0;
  border-radius: 3px;
  opacity: 0.8;
}

.list-card.hover:hover .list-card-remover {
  display: block;
}

.list-card-remover.hover:hover {
  color: #000000;
  opacity: 1;
}

.list-card-remover::before {
  content: '\00d7';
}